.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__heading {
        margin: 0;
        color: $darkNavy;
    }

    &__body {
        line-height: 18.9px;
        max-width: 256px;
    }
}
