*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    font-weight: 400;
    background-color: $lightGrey;
    color: $grey;
}

img {
    width: 100%;
    display: block;
}

h1 {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.75rem;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.card {
    border-radius: 1.25rem;
    padding: 1rem;
    background-color: $white;
    width: 20rem;
    height: 31.0625rem;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
}
